<h1>Patentverzeichnis</h1>

<h2>Zugriff nach Land</h2>

<ul>
  [% FOREACH lang IN langmap %]
    <li><a href="patent/?subtype=[% lang.0 | html %]">[% lang.1 | html %]</a></li>
  [% END %]
</ul>

<h2>Zugriff nach Dekade</h2>

<ul>
  [% FOREACH i IN [ 1810 .. 1930 ]; NEXT UNLESS i % 10 == 0 %]
    <li><a href="patent/?decade=[% i %]">[% i %]er Jahre</a></li>
  [% END %]
</ul>
