[% xsl %]

<script type="text/javascript">
  function expand(artid) {
    var elem = jQuery(artid);
    elem.css('display') == 'none' ? elem.show() : elem.hide();
  }
</script>

[% BLOCK right %]
  [% INCLUDE 'search/form.tt' %]
  <a href="[% base %]">zur Bandauswahl &hellip;</a>
[% END %]
