body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin:0 }
h1 { color:#069; font-family:Georgia,Times,serif,Times-New-Roman; font-size:2.4em; font-weight:normal; margin:0 0 0.5em 0 }
h2 { color:#069; font-family:Georgia,Times,serif,Times-New-Roman; font-size:2em; font-weight:normal; margin:0.5em 0 0.5em 0 }
img { border:none }
p { line-height:1.7em; margin:0 0 0.5em 0 }
q:before { content:"" }
q:after  { content:"" }
td { vertical-align:top }

sup.fnref { cursor:pointer }
a.fnref { color:#069 }
a, .ui-widget-content a, .clickable { text-decoration:none; color:#68A }
a:hover, .ui-widget-content a:hover, .clickable:hover { text-decoration:underline }

#head { background:url(images/headerbg.gif) repeat-x 0px 0px; padding:5px; height:130px }
#head .project { position:absolute; color:#f00 }
#head a { color:#ddd; text-decoration:none }
#head .logo { margin-top:23px; text-indent:9em }

#head .partner { position:absolute; right:15em; top:3.6em }
.partner img { margin-left:30px }

.labtitle { display:none }

#maintable { width:1000px; margin-left:auto; margin-right:auto }

.maincol { width:700px }
.rightcol { width:300px }

td.mainleft   { padding-top:10px }
td.mainmiddle { padding-left:2em; font-size:1.4em }
td.mainright  { padding-top:0px }

.nav { border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#eee; padding:2px 3em; width:500px; margin-bottom:20px; font-size:.8em }
.nav table { width:100% }

.meta { border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#fafafa; padding:2px 3em; width:500px; margin-bottom:20px; font-size:.8em }
.meta table { padding-left:10px; padding-right:10px }
.meta table .caption { color:#069 }

.rightbox        { margin-bottom:2em }
.rightboxhead    { padding:2px 1em; border-top:1px solid #ccc; border-bottom:1px solid #ccc; font-weight:bold; background:#eee }
.rightboxcontent { padding:1em 1em; background:#fafafa }

.center { text-align:center }
.right { text-align:right }
.small { font-size:0.8em }
.wide { letter-spacing:0.1em; margin-right:-0.2em; font-family:monospace,serif; font-size:1em }
.roman { font-style:italic }
.corr { border-bottom:dotted 1px #68a }
.indent { text-indent:2em }
.pointer { cursor:pointer }

.figure { max-width:800px }
table.middlealign td { vertical-align:middle }

.person { border-bottom: dashed 1px #68a; cursor:pointer }

table.journallist { padding-left:40px }

.personlist h2 { font-family:Georgia,Times,serif,Times-New-Roman; font-size:1.4em; font-weight:normal; margin:0 0 0.5em 0 }
.personlist h3 { font-weight:bold; font-size:1.1em; margin:1em 0 0 0 !important }

.faclink { color:red }

.ui-dialog { font-size:1em }

#bibtex { display:none }
#bibtex textarea { font-family:"DejaVu Sans Mono",monospace; font-size:1.2em }

#bugform { display:none }
#bugform table { width:100% }
#bugform table td.caption { text-align:right; font-weight:bold; padding-right:10px }
#bugform table td { padding-top:10px }
#bugform input, #bugform select, #bugform textarea { width:100% }
#bugform .feedback { color:red }

#ticketlist td.cut { max-width:100px; overflow:hidden }
.nowrap { white-space:nowrap }

.code { background:#fafafa; font-family:monospace }
div.code { border:1px solid #eee; padding-left:10px }

#htmltagcloud { text-align:center; line-height:1 }
#htmltagcloud a { text-decoration:none }
#htmltagcloud a:hover { text-decoration:underline }
span.tagcloud0 { font-size: 1em;}
span.tagcloud1 { font-size: 1.1em }
span.tagcloud2 { font-size: 1.2em }
span.tagcloud3 { font-size: 1.3em }
span.tagcloud4 { font-size: 1.4em }
span.tagcloud5 { font-size: 1.5em }
span.tagcloud6 { font-size: 1.6em }
span.tagcloud7 { font-size: 1.7em }
span.tagcloud8 { font-size: 1.8em }
span.tagcloud9 { font-size: 1.9em }
span.tagcloud10 { font-size: 2.0em }
span.tagcloud11 { font-size: 2.1em }
span.tagcloud12 { font-size: 2.2em }
span.tagcloud13 { font-size: 2.3em }
span.tagcloud14 { font-size: 2.4em }
span.tagcloud15 { font-size: 2.5em }
span.tagcloud16 { font-size: 2.6em }
span.tagcloud17 { font-size: 2.7em }
span.tagcloud18 { font-size: 2.8em }
span.tagcloud19 { font-size: 2.9em }
span.tagcloud20 { font-size: 3em }
span.tagcloud21 { font-size: 3.1em }
span.tagcloud22 { font-size: 3.2em }
span.tagcloud23 { font-size: 3.3em }
span.tagcloud24 { font-size: 3.4em }
