body { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px; margin:0 }
h1 { color:#046; font-family:Georgia,Times,serif,Times-New-Roman; font-size:2em; font-weight:normal; margin:0 0 0.5em 0 }
h2 { color:#046; font-family:Georgia,Times,serif,Times-New-Roman; font-size:1.6em; font-weight:normal; margin:0.5em 0 0.5em 0 }
h3 { color:#046; font-family:Georgia,Times,serif,Times-New-Roman; font-size:1.3em; font-weight:normal; margin:0.5em 0 0.2em 0 }
img { border:none }
p { line-height:1.6em; margin:0 0 0.5em 0 }
q:before { content:"" }
q:after  { content:"" }
td { vertical-align:top }

sup.fnref { cursor:pointer }
a.fnref { color:#07a }
a, .ui-widget-content a, .clickable { text-decoration:none; color:#07a }
a:hover, .ui-widget-content a:hover, .clickable:hover { text-decoration:underline }

.pointer { cursor:pointer; color:#07a }

#foot { width:620px; margin:20px 0 10px 180px; background:#fafafa; border-top:1px solid #eee; padding:10px }
.term img { margin-right:20px }
.term h2 { margin-top:1em; margin-bottom:0.8em }
.term h3 { margin-top:1em; margin-bottom:0.7em }

#head { background:url(images/headerbg.gif) repeat-x 0px 0px; padding:5px; height:130px }
#head .project { position:absolute; color:#f00 }
#head a { color:#ddd; text-decoration:none }
#head .logo { margin-top:23px; text-indent:9em }

#head .partner { position:absolute; right:15em; top:3.6em }
.partner img { margin-left:30px }

.labtitle { display:none }

#maintable { width:935px; margin-left:150px; margin-right:auto }

.maincol { width:620px }
.rightcol { width:315px }

td.mainleft   { padding-top:10px }
td.mainmiddle { padding-left:2em; padding-right:1em; font-size:1.2em }
td.mainright  { padding-top:0px }

.nav { position:relative; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#eee; padding:2px 3em; width:500px; margin-bottom:20px; font-size:.8em }
.nav table { width:100% }

.meta { border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#fafafa; padding:2px 3em; width:500px; margin-bottom:20px; font-size:.8em }
.meta table { padding-left:10px; padding-right:10px }
.meta table .caption { color:#046 }

#starrater { position:absolute; left:5px; top:5px; cursor:pointer }

.rightbox        { margin-bottom:2em }
.rightboxhead    { padding:2px 1em; border-top:1px solid #ccc; border-bottom:1px solid #ccc; font-weight:bold; background:#eee }
.rightboxcontent { padding:1em 1em; background:#fafafa }

.center { text-align:center }
.right { text-align:right }
.small { font-size:0.8em }
.wide { letter-spacing:0.1em; margin-right:-0.2em; font-family:'Inconsolata',monospace,serif; font-size:1em }
.roman { font-style:italic }
.corr { border-bottom:dotted 1px #900 }
.indent { text-indent:2em }

.figure { max-width:600px }
table.middlealign td { vertical-align:middle }

.person { color:#07a }
img.portrait { float:right }

table.journallist { padding-left:40px }

.personlist h2 { font-family:'Cardo',Georgia,Times,serif,Times-New-Roman; font-size:1.4em; font-weight:normal; margin:0 0 0.5em 0 }
.personlist h3 { font-weight:bold; font-size:1.1em; margin:1em 0 0 0 !important }

.faclink { color:r69 }

.ui-dialog { font-size:1em }

#bibtex { display:none }
#bibtex textarea { font-family:"DejaVu Sans Mono",monospace; font-size:1.2em }

#bugform { display:none }
#bugform table { width:100% }
#bugform table td.caption { text-align:right; font-weight:bold; padding-right:10px }
#bugform table td { padding-top:10px }
#bugform input, #bugform select, #bugform textarea { width:100% }
#bugform .feedback { color:red }

#ticketlist td.cut { max-width:100px; overflow:hidden }
.nowrap { white-space:nowrap }

.code, code { background:#D7EDFF; font-family:monospace }
div.code { border:1px solid #eee; padding:5px; margin:5px }

/* auto completion */
.ac_results { padding:0px; border:1px solid #000; background:#fff; overflow:hidden; z-index:99999 }
.ac_results ul { width:100%; list-style-position:outside; list-style:none; padding:0; margin:0 }
.ac_results li { margin:0px; padding:2px 5px; cursor:default; display:block; font:menu; font-size:1.1em; line-height:16px; overflow:hidden }
.ac_loading { background: white url('images/indicator.gif') right center no-repeat }
.ac_odd { background:#f3f3f3 }
.ac_over { background:#07a; color:white }

.timeline-band-inner { cursor:pointer }

#xmlsnippet     { display:none; background:#fff; font-weight:bold }
#xmlsnippethead { font-weight:bold; background:#fff; padding:5px }
#xmlsnippetcode { height:400px; font-family:monospace; padding:5px; font-size:1.2em }

.lineno { text-align:right; padding:0 10px; background:#fafafa; font-weight:normal }

.doc h1 { margin-bottom:1.3em }
.doc h2 { margin-bottom:1em }
.doc h3 { margin-bottom:0.7em }
.doc table { margin-left:3em; margin-bottom:2em; width:100% }
.doc th { background:#eee }
.doc th, .doc td { padding:2px 10px }
.doc td.code { background:none }
.doc tr:nth-child(even) { background:#fff }
.doc tr:nth-child(odd)  { background:#fafafa }
.doc p {  }

/* syntax highlighting */
.xmlsh-bracket   { font-weight:normal; color:black }
.xmlsh-doctype   { font-weight:normal; color:#6495ED }
.xmlsh-comment   { font-weight:normal; color:#aaa !important; font-style:italic }
.xmlsh-entity    { font-weight:normal; color:#8B008B }
.xmlsh-tag       { font-weight:normal; color:#191970 }
.xmlsh-aname     { font-weight:normal; color:green }
.xmlsh-avalue    { font-weight:normal; color:#8B0000 }
.xmlsh-namespace { font-weight:normal; color:#DAA520 }
.xmlsh-equal     { font-weight:normal }
.xmlsh-quote     { font-weight:normal }

/* visualize.jquery.js */
/*plugin styles*/
.visualize { margin:30px 0 40px 20px; border: 1px solid #888; position: relative; background: #fff; }
.visualize canvas { position: absolute; }
.visualize ul,.visualize li { margin: 0; padding: 0;}

/*table title, key elements*/
.visualize .visualize-info { padding: 3px 5px; background: #fff; border: 1px solid #888; position: absolute; top: -20px; right: 10px; opacity: .8; }
.visualize .visualize-title { display: block; color: #333; margin-bottom: 3px;  font-size: 1.1em; background:#fff }
.visualize ul.visualize-key { list-style: none;  }
.visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.visualize ul.visualize-key .visualize-key-color { width: 6px; height: 6px; left: 0; position: absolute; top: 50%; margin-top: -3px;  }
.visualize ul.visualize-key .visualize-key-label { color: #000; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #fff; font-weight: bold; font-size: 1em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; }
.visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #555;  }
.visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.visualize-labels-x li { height: 100%; }
.visualize-labels-x li span.label { top: 100%; margin-top: 5px; }
.visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.visualize-labels-y li { width: 100%;  }
.visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }

#htmltagcloud { text-align:center; line-height:1 }
#htmltagcloud a { text-decoration:none }
#htmltagcloud a:hover { text-decoration:underline }
span.tagcloud0 { font-size: 1em;}
span.tagcloud1 { font-size: 1.1em }
span.tagcloud2 { font-size: 1.2em }
span.tagcloud3 { font-size: 1.3em }
span.tagcloud4 { font-size: 1.4em }
span.tagcloud5 { font-size: 1.5em }
span.tagcloud6 { font-size: 1.6em }
span.tagcloud7 { font-size: 1.7em }
span.tagcloud8 { font-size: 1.8em }
span.tagcloud9 { font-size: 1.9em }
span.tagcloud10 { font-size: 2.0em }
span.tagcloud11 { font-size: 2.1em }
span.tagcloud12 { font-size: 2.2em }
span.tagcloud13 { font-size: 2.3em }
span.tagcloud14 { font-size: 2.4em }
span.tagcloud15 { font-size: 2.5em }
span.tagcloud16 { font-size: 2.6em }
span.tagcloud17 { font-size: 2.7em }
span.tagcloud18 { font-size: 2.8em }
span.tagcloud19 { font-size: 2.9em }
span.tagcloud20 { font-size: 3em }
span.tagcloud21 { font-size: 3.1em }
span.tagcloud22 { font-size: 3.2em }
span.tagcloud23 { font-size: 3.3em }
span.tagcloud24 { font-size: 3.4em }
