<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <base href="[% base %]" />
  <link rel="stylesheet" type="text/css" href="static/styles.css" />
</head>

<body>

<div id="head">
  <a href="/">Verschlagwortung Dingler</a>
  &middot;
  <a href="http://www.polytechnischesjournal.de/">Polytechnisches Journal</a>
</div>

<table>
  <tr>
    <td>
      Band auswählen:&nbsp;
      <select name="" onchange="window.location='journal/' + this.value;">
        <option value="">...</option>
        [% FOREACH v IN volumes %]
          <option value="[% v %]">[% v %]</option>
        [% END %]
      </select>
      <br /><br />

    </td>
    <td>[% content %]</td>
  </tr>
</table>

</body>
</html>
