<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <meta name="robots" content="noindex,nofollow" />
  <base href="[% base %]" />
  <title>Projektseite Polytechnisches Journal</title>
  <link rel="stylesheet" type="text/css" href="static/jquery/jquery-ui-1.8.1.custom.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="static/jquery/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="static/jquery/jquery.metadata.js"></script>
  <link rel="stylesheet" type="text/css" href="static/jquery/tablesorter/style.css" />
  <link rel="stylesheet" type="text/css" href="static/styles.css" />
  <link rel="stylesheet" type="text/css" href="static/custom.css" />
  [% TRY; PROCESS head; CATCH; ''; END %]
</head>

<body>

<div id="head" class="nolab">
  <div class="project">Interne Projektseite</div>
  <div class="logo">
    <a href="[% base %]"><img src="[% base %]static/images/dinglerlogo.gif" alt="Logo Dingler" /></a>
  </div>
  <div class="partner">
    <a href="http://www.dfg.de/"><img src="[% base %]static/images/partner_dfg.gif" alt="Logo DFG"/></a>
    <a href="http://www.slub-dresden.de/"><img src="[% base %]static/images/partner_slub.gif" alt="Logo SLUB" /></a>
    <a href="http://www.hu-berlin.de/"><img src="[% base %]static/images/partner_huberlin.gif" alt="Logo HU Berlin" /></a>
  </div>
</div>

<table id="maintable">
  <colgroup class="maincol">
    <col />
  </colgroup>
  <colgroup class="rightcol">
    <col />
  </colgroup>
  <tr>
    <td class="mainmiddle">[% content %]</td>
    <td class="mainright">
      <div class="labtitle">Labor-Webseite</div>
      [% TRY; PROCESS right; CATCH; ''; END %]
    </td>
  </tr>
</table>

</body>
</html>
