<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <base href="[% base %]" />
  <link rel="stylesheet" type="text/css" href="static/styles.css" />
</head>

<body>

<div id="head">
  <a href="/">Verschlagwortung Dingler</a>
  &middot;
  <a href="http://www.polytechnischesjournal.de/">Polytechnisches Journal</a>
</div>

<table id="maintable">
  <colgroup>
    <col width="200" />
    <col width="600" />
    <col width="200" />
  </colgroup>
  <tr>
    <td class="left">
      Band auswählen:&nbsp;
      <select name="" onchange="window.location='journal/' + this.value;">
        <option value="">...</option>
        [% FOREACH v IN volumes %]
          <option value="[% v %]"[% ' selected="selected"' IF v == journal %]>[% v %]</option>
        [% END %]
      </select>
      <br /><br />

    </td>
    <td class="middle">[% content %]</td>
    <td class="right">
      <div id="htmltagcloud">
        [% FOREACH tag IN cloud.tags(20) %]
          <span class="tagcloud[% tag.level %]">[% tag.name %]</span>
        [% END %]
      </div>
    </td>
  </tr>
</table>

</body>
</html>
